* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
}

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    width: 100vw;
    z-index: 1;
    background-color: peachpuff;
    align-items: center;
}

header #header-logo a {
    display: flex;
    align-items: center;
}

header img {
    max-height: 100px;
    border: solid 1px plum;
    /* background-color: plum; */
}

header nav ul,
footer nav ul {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

header nav a:link,
header nav a:visited {
    color: rgb(84, 174, 76);
}

header nav a:hover {
    color: purple;
}

header nav a:active {
    color: darkblue;
}

header nav a.currentpage {
    color: rgb(22, 96, 22);
}

main {
    position: relative;
    top: 130px;
    height: 1000px;
    background-color: lavenderblush;
}

h1 {
    padding: 20px;
    text-align: center;
}

#fuu1,
#fuu2,
#fuu3,
#fuu4 {
    max-height: 300px;
    margin: 20px;
}

h3 {
    position: sticky;
    top: 136px;
    padding: 20px;
    text-align: center;
    background-color: lavenderblush;
}

article {
    padding: 20px;
    text-align: center;
}

.narrow-box {
    margin: 0 auto;
    max-width: 400px;
}

#service-section {
    display: inline-block;
    vertical-align: top;
    width: calc(80% - 20px);
}

aside {
    display: inline-block;
    vertical-align: top;
    height: 1000px;
    background-color: rgb(230, 184, 145);
    width: 20%;
    margin-left: 20px;;
}

h2 {
    position: sticky;
    top: 132px;
    padding: 30px;
    text-align: center;
    color: rebeccapurple;
    background-color: rgb(230, 184, 145);
}

aside ul {
    text-align: center;
}

aside li {
    margin: 10px;
}

footer {
    position: relative;
    top: 130px;
    padding: 20px;
    background-color: peachpuff;
}

nav a:link {
    color: rgb(122, 118, 194);
}

nav a:visited {
    color: rgb(99, 62, 153);
}

nav a:hover {
    color: purple;
}

nav a:active {
    color: darkblue;
}

#created {
    color: purple;

}

#backtotop {
    position: fixed;
    bottom: calc(5% + 130px);
    right: 20px;
    max-height: 50px;
}

.float-left {
    float: left;
    margin-left: 50px;
}

.float-right {
    float: right;
    margin-right: 50px;
}

.clear-both {
    clear: both;
    margin: 20px;
    padding: 50px;
}